/*auto*/

$oldGreenColor : #67B13D;
$green : #70C1B3;
$orange : #F25F5C;
$grey : #50514F;
$red : #F25F5C;
$blue : #247BA0;
$yellow : #FFE066;

nav {
	text-align: right;
}
nav ul {
	list-style: none;
	background-color: $grey;
	padding: 10px 6vw;
}
nav ul li {
	display: inline;
	margin-right: 20px;
}
nav ul li:nth-child(1) {
	color: $yellow;
	float: left;
	font-size: 20px;
}
nav ul li a{
	color: white;
}
nav ul li h5{
	display: inline;
}
nav ul li a:hover {
	color: $yellow;
}
body { 
	padding:0;
	margin:0;
	font:normal 14px Arial;
	color:#656D78;
	background-color: $blue;
	line-height: 20px;
}
.container-background { 
	background-color: white;
}
.container { 
	margin:0 auto;
	max-width: 960px;
	padding: 40px 0 40px 5px;
}
.center { 
	text-align: center;
}
hr { 
	border: 0;
	border-top: 1px solid #E0E0E0;
}
.linkbutton { 
	display: inline-block;
	position: relative;
	padding: 15px 80px;
	color: $blue;
	border: 1px solid $blue;
	text-decoration: none;
	border-radius: 4px;
}
.linkbutton:hover { 
	color: white;
	background-color: $blue;
}
div#welcome {
	margin: 0 10vw;
}
#artists, #art, #arts{
	margin: 0 15px;
	text-align: center;
}
#artists form, #art form {
	display: inline-block;
	width: 85vw;
	position: relative;
	left: -9vw;
}
form#editArtist, form#editArt {
	display: none;
}
form .row {
	margin: 0 auto;
}
form .btn:hover  {
	cursor: pointer;
	background-color: $blue;
}
#artists form .ro br, #art form .ro br {
	display: none;
}
#artists form input, #art form input, #art form button, #artists form button {
	margin-right: 10px;
	margin-bottom: 5px;
}
#artists form input, #art form input {
	max-width: 30%;
}
#artists table {
	text-align: left;
	width: 93%;
}
#artists table tr:hover{
	cursor: pointer;
	background-color: $yellow;
}
#artists table tr:nth-child(1):hover{
	cursor: default;
	background-color: white;
}
#artists table td {
	padding: 5px 10px;
}
#artists table th {
	text-decoration: underline;
	padding: 5px 10px;
}
#artists table td.col-3 {
	word-wrap: break-word;
}
#artists a.glyphD {
	position: relative;
	top: -3px;
}
#art label, #artists label {
	max-width: 105px;
}
#art textarea {
	max-width: 90%;
	padding: 10px;
	position: relative;
	left: 15px;
}
#artDisplay {
	text-align: left;
}
#artDisplay h5 {
	color: $red;
}
#art .tile, #arts .tile {
	display: inline-block;
	border: 2px solid black;
	height: 100%;
	width: auto;
	max-width: 240px;
	margin: 30px;
}
#art .tile .artist, #arts .tile .artist {
	text-align: center;
	border-bottom: solid black 2px;
	background-color: $yellow;
}
#art .tile .name, #arts .tile .name {
	border-bottom: solid black 2px;
	text-align: center;
}
#art .tile img, #arts .tile img {
	width: 100%;
	position: relative;
	top: -8px;
}
#art .tile .desc, #arts .tile .desc {
	padding: 5px 10px;
}
#art .tile .bottom, #arts .tile .bottom {
	padding: 10px;
	background-color: $green;
	color: $yellow;
	text-align: center;
	height: 45px;
}
#art .tile .price:hover, #arts .tile .price:hover {
	cursor: pointer;
}
#art .tile .bottom h3, #arts .tile .bottom h3 {
	display: inline;
}
#art .glyphE, #arts .glyphE {
	position: relative;
	color: white;
	float: left;
}
#art .glyphD, #arts .glyphD {
	position: relative;
	float: right;
}
.glyphE, .glyphD {
	z-index: 10;
}
.glyphE:hover, .glyphD:hover {
	cursor: pointer;
}


.success {
	color: $green;
}
div#form p.success{
	position: relative;
	left: -9vw;
}
.fa-remove {
	color: $red;
}
footer { 
	color: white;
	text-align: center;
	margin-top: 20px;
}


@media all and (max-width: 770px) {
	#artists form .ro, #art form .ro {
		text-align: center;
	}
	#artists form .ro br, #art form .ro br {
		display: block;
	}
	#artists form input, #art form input {
		max-width: 60%;
	}
}
@media all and (max-width: 550px) {
	#artists table td:nth-child(3) {
		word-break: break-all;
	}
}


