/*auto*/

$oldGreenColor : #67B13D;
$green : #70C1B3;
$grey : #50514F;
$red : #F25F5C;
$blue : #247BA0;
$yellow : #FFE066;


header hr{
	position: relative;
	left: 157px;
	width: 43%;
}
nav {
	background-color: $grey;
}
nav ul{
	margin-top: 0;
	// margin-right: 50px;
	text-align: right;
	line-height: 50px;
	padding: 0;
}
@media (min-width: 450px) {
	nav ul{
		margin-right: 50px;
	}
}
nav ul li{
	display: inline-block;
	margin-right: 10px;
}
nav ul li a {
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	color: $red;
}
nav ul:nth-child(1) {
	// border-bottom: black solid 1px;
}
header#main {
	z-index: 100;
}
header#miniNav {
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 50px;
	border-top: 1px solid white;
}
header#miniNav li:nth-child(1){
	color: white;
	margin-right: 30px;

}
body { 
	padding:0;
	margin:0;
	font:normal 14px Arial;
	color:#656D78;
	background-color: $blue;
	line-height: 20px;
}
.container-background { 
	background-color: white; 
}
.container { 
	margin:0 auto; 
	width: 100%; 
	padding: 0 0 50px 0; 
}
.center { 
	text-align: center; 
}
hr { 
	border: 0; 
	border-top: 1px solid #E0E0E0; 
}
.linkbutton { 
	 display: inline-block;
	 position: relative;
	 padding: 15px 80px;
	 color: $red;
	 border: 1px solid $red;
	 text-decoration: none;
	 border-radius: 4px;
}
.linkbutton:hover { 
	color: white;
  background-color: $red;
}
div#aboutme, div#home{
	// text-align: center;
	margin: 0 auto;
	max-width: 550px;
}
#intro {
	margin-left: 150px;
}
#profPic {
	width: 300px;
	border-radius: 200px;
	position: relative;
	right: 5%;
	display: inline-block;
}
div#contact {
	display: inline-block;
	position: relative;
	left: 50px;
	bottom: 180px;
}
div#contact > ul {
	line-height: 30px;
	list-style: none;
}
div#contact .linkbutton {
	width: 200px;
	padding: 10px;
}
div#contact li {
	margin: 5px 0;
}
#docs, #conversions, #projects {
	text-align: center;
	min-height: 55vw;
	overflow: auto;
	margin: 0 auto;
	line-height: 20px;
}
#projects hr {
	width: 85%;
}
#cover, #resume, #conv2, .tile img {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 3vw;
	width: 40%;
	max-width: 400px;
}
#conv1 {
	@extend #cover;
	display: block;
	margin: 0 auto;
	width: 58%;
	margin-bottom: 20px;
	max-width: none;
}
#resume:hover, #cover:hover, #conv2:hover {
	width: 47%;
	border: 3px $green solid;
	padding: 10px;
	max-width: none;
	cursor: pointer;
	/*top: 200px;*/
}
#conv1:hover {
	@extend #conv2:hover;
	width: 75%;
	max-width: none;
}
.tile {
	margin: 20px auto;
}
.tile_hover {
	border: 3px $green solid;
	cursor: pointer;
	padding: 10px;
	img {
		width: 48%;
	}
	// height: 200px;
}
.tile img:nth-child(1) {
	margin: 0;
	margin-right: 5px;
}
.tile img:nth-child(2) {
	margin: 0;
	margin-left: 5px;
}
#lonelyTable {
	line-height: 10px;
}
#flink img:nth-child(1) {
	position: relative;
	bottom: 110px;
}
#display {
	margin: 10px;
}
#display #instructions {
	margin: 0 3vw;
}
#display #instructions h2:nth-child(1){
	margin: 0 -2vw;
}
#display h2 span:nth-child(1) {
	color: $red;
}
#display h2 span:nth-child(2) {
	color: $green;
}
#docDisplay {
	text-align: center;
}
#docDisplay img{
	display: block;
	margin: 0 auto;
	width: 100vw;
	height: 90vh;
	max-height: 800px;
	max-width: 440px;
}
#docDisplay img:hover{
	cursor: zoom-in;
}
#docDisplay img.magnify {
	width: 100vw;
	max-width: 1000px;
	max-height: 1400px;
	height: auto;
	min-height: 90vh;
}
div#area div:nth-child(1){
	text-align: center;
	height: 350px;
	width: 90%;
	overflow: scroll;
	border-top: solid 5px $red;
}
div#area img {
	width: 100%;
}
div#area div#iframe {
	border-top: solid 5px $green;
	width: 90%;
	height: 390px;
	overflow: auto;
}
div#area iframe {
	border: none;
}
footer { 
	color: white;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 1100px) {
	div#area div:nth-child(1){
		width: 48%;
		height: 725px;
		display: inline-block;
	}
	div#area div#iframe {
		width: 48%;
		height: 725px;
		display: inline-block;
	
	}
}

@media(max-width: 880px) {
	#intro {
		margin: 0 auto;
	}
	#profPic {
		display: block;
		margin: 10px auto;
		width: 200px;
	}
	div#contact {
		display: block;
		left: 0px;
		bottom: 0px;
	}
}