@{title('About Me')}

<div id='aboutme'>
	<h2 class='center'>About Me</h2>

	<p>
	In 2015, I graduated from Pepperdine University with Honors, majoring in International Business and Conflict Management. Since my Junior year, I knew I wanted to be a Web Developer and began working towards this goal. From my time studying and working in the realms of business and law, I bring with me among other things, skills of research, communication, team work, responsibility, creativity, and competitiveness. I have demonstrated leadership and an entrepreneurial spirit throughout my life by starting new organizations and working on startups. Yet, I’m always keen to learn and follow the lead of others when appropriate. 
	</p>

	<p>
	My professional experience has ranged from working at a lobbying firm in Washington, DC to being a financial services representative at Northwestern Mutual; from leading marketing activities to having the pleasure to teach English to students at a school and a university in Armenia. I believe this gives me a unique perspective and the ability to provide valuable input on a wide range of subjects including but not limited to questions directly related to web development. I greatly enjoy teaching and am quite skilled at explaining complex information in simple terms. My time from sales and conflict management have given me experience and skills to lead conversations, address and resolve disputes, find acceptable compromises, and come to healthy agreements. 
	</p>

	<p>
	As an example, you may look at a <a href="https://www.slideshare.net/slideshow/embed_code/key/zwSROuVL3u9ycr.">research paper</a> I wrote for a Negotiation class— where I explain the past of a very complicated issue regarding the disputed territory of NKR.
	</p>

	<p>
	At my previous position as a Web Developer, I worked on both front and back end code. On the front-end, we used Minified.js— which is an alternative to jQuery. On the server-side, we used the Total.js framework for Node, and postgresql for our database. In the past I’ve worked with other languages and libraries including Node.js with Express, Python with Flask, Angular, React, jQuery, Bootstrap, Material Design, and more. Further I’m familiar with templating engines such as Jade, EJS, and Handlebars; SQL query builders such as Knex; and CSS pre-processors such as LESS. My proficiency among the languages listed varies, but the main take-away is that I know the fundamentals and am eager to add more languages as well as improve my skills with the current set.
	</p>

	<p>
	You can find examples of work that uses these languages as well as the codebase for this website in my GitHub account at: https://github.com/Hamlet-Tamaz or attached as ‘Media’ on Linked In. 
	</p>

	<p>
	In a Nutshell: I’m looking forward to a job which will keep me engaged and provide opportunities to learn, develop, and contribute to those around me. As a problem-solver and aspiring entrepreneur, I would like to see myself in a creative environment, building exciting projects. I enjoy working alone, but excel in group/team activities. I am looking forward to exploring all that the world has to offer while providing as much value to my friends, family, and employers as possible.
	</p>

</div>