@{title('Art')}
@{layout('gallery_layout')}

<div id="art">
	<div id="form">

		<form id='newArt' action="/gallery/artists/@{model[0].artist_id}/art" method="post" @{if repository.art.art_id} style='display:none' @{fi}>
			<h2 class='center'>Add New Art</h2>

			<br>	
				
			<input type="hidden" name='artist_id' value='@{model[0].artist_id}'>
			<div class='ro'>
				<label class='col col-2' for="name">Name: </label><input form='newArt' class='col col-3' name='name' type="text" placeholder="art name" autofocus required>
				<br>
				<label class='col col-2' for="price">Price: $</label><input form='newArt' class='col col-3' name='price' type="number" placeholder="art price" min='0' step="any">
			
				<br style="display:block">
				<br style="display:block">
				
			 	<legend for='desc'>Description:</legend>
			  <textarea name="desc" id="" cols="70" rows="5"></textarea>

			</div>

			<br>
			<input type="submit" class='btn'>
		</form>

		<form id='editArt' data-action="@{repository.art.url}" method="put" @{if repository.art.art_id} style='display:block' @{fi}>
			<h2 class='center'>Edit Art</h2>

			<br>

			<input type="hidden" name='id' value="@{repository.art.art_id}">
			<input type="hidden" name='artist_id' value="@{repository.art.artist_id}">
			
			<div class="ro">
				<label class='col col-2' for="name">Name: </label><input form='editArt' class='col col-3' name='name' type="text" placeholder="art name" value="@{repository.art.name}" required autofocus>
				<br>
				<label class='col col-2' for="price">Price: $</label><input form='editArt' class='col col-3' name='price' type="number" step="any" value="@{repository.art.price}">
			
				<br style="display:block">
				<br style="display:block">
			
		 		<legend for='desc'>Description:</legend>
		  	<textarea name="desc" id="" cols="70" rows="5">@{repository.art.desc}</textarea>
			</div>

			<br>
			<br>
			<input type="submit" class='btn'>
			<button class='btn'>Add NEW Art</button>

			<br>
			<br>
		</form>
		
		@{if repository.flash == 'edits_saved'}
			<p class='success'>Your changes were successfully saved.</p>
		@{fi}
		@{if repository.flash == 'added'}
			<p class='success'>Your artist was successfully added.</p>
		@{fi}
	</div>

<hr />
<br />

	<h2>@{model[0].first_name} @{model[0].last_name}'s Art</h2>
	
	<br>

	<div id='artDisplay'>
		@{if model[0].art_id}
			@{foreach i in model}
				<div class="tile">
					<input type="hidden" value=@{i.art_id}>
					<input type="hidden" value=@{i.artist_id}>
					<h4 class='name'><b>@{i.name}</b></h4>
					<img src="/i/iris_garden.jpg" alt="">
					<p class='desc'>@{i.description}</p>
					
					<div class="bottom">
						<a class='glyphE' href="#form" data-get-edit-url='/gallery/artists/@{i.artist_id}/art/#{i.id}/edit' data-make-edit-url='/gallery/artists/@{i.artist_id}/art/@{i.art_id}'><span class='fa fa-edit fa-2x'></span></a>
						<h3 class='price'>@{i.price}</h3>
						<a class='glyphD' data-url='/gallery/artists/@{i.artist_id}/art/@{i.art_id}'><span class='fa fa-remove fa-2x'></span></a>
					</div>	

				</div>
			@{end}
		@{else}
			<h5 class='center'>This artist currently has no art.</h5>
		@{fi}
	</div>
</div>