@{title('Arts')}
@{layout('gallery_layout')}

<div id="arts">

	<h2>Art</h2>

	<select name="artists" id="">
		@{foreach a in repository.artists}
			<option value="@{a.id}">@{a.name}</option>
		@{end}
	</select>
	
	<div id='artDisplay'>
		@{foreach i in model}
			<div class="tile">
				<input type="hidden" value=@{i.art_id}>
				<input type="hidden" value=@{i.artist_id}>
				<h4 class='artist'>@{i.first_name} @{i.last_name}</h4>
				<h4 class='name'><b>@{i.name}</b></h4>
				<img src="/i/iris_garden.jpg" alt="">
				<p class='desc'>@{i.description}</p>
				
				<div class="bottom">
					<a class='glyphE' href="/gallery/artists/@{i.artist_id}/art?artist_id=@{i.artist_id}&art_id=@{i.art_id}&name=@{i.name}&price=@{i.price}&desc=@{i.description}&url=/gallery/artists/@{i.artist_id}/art/@{i.art_id}"><span class='fa fa-edit fa-2x'></span></a>
					<h3 class='price'>@{i.price}</h3>
					<a class='glyphD' data-url='/gallery/artists/@{i.artist_id}/art/@{i.art_id}'><span class='fa fa-remove fa-2x'></span></a>
				</div>	

			</div>
		@{end}
	</div>

</div>