@{layout('')}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Conversion 2</title>
	<link rel="stylesheet" href="/c/conv2.css">
</head>
<body>
	



<header>
	<nav id='conv2_nav'>
		<div class="logo">
			<img src="i/conv2/logo.svg" alt="">
		</div>
		
		<img src="i/conv2/compressed/burger-min.png" alt="" class="burger">
		<ul>
			<li><a href="#s-history"><h3>01. HISTORY</h3></a></li>
			<li><a href="#s-climb"><h3>02. CLIMB</h3></a></li>
		</ul>
	</nav>
</header>

<div id="hero-image">
</div>

<nav id='stickyNav'>
	<div class="logo">
		<img src="i/conv2/logoSticky2.svg" alt="">
		<h2>LOSANGELES <br> <span class='blue'>MOUNTAINS</span></h2>
	</div>

	<img src="i/conv2/compressed/burger-min.png" alt="" class="burger">
	<ul>
		<li><a href="#s-history"><h3>01. HISTORY</h3></a></li>
		<li><a href="#s-climb"><h3>02. CLIMB</h3></a></li>
	</ul>
</nav>

<div id="hero-image1">
  <div id="hero-text1">
  	<div id='s-history' class="big-num1">
    	<h1>01. <span class='blue'>HISTORY</span></h1>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis officia ducimus facere eaque quibusdam labore tempora, explicabo error modi quos architecto aspernatur necessitatibus unde ad, tenetur eveniet aperiam autem eum.</p>
  	</div>
  </div>
	
			
  <div class="carousel">
		<div class="screen">
		<div class='carousel-images'>
			<img src="i/conv2/compressed/carousel1-min.png" alt="">
			<img src="i/conv2/compressed/carousel2-min.png" alt="">
			<img src="i/conv2/compressed/carousel1-min.png" alt="">
			<img src="i/conv2/compressed/carousel2-min.png" alt="">
		</div>
		</div>
  </div>
</div>

<div>
  	<div id='s-climb' class="big-num2">
    	<h1>02. <span class='blue'>CLIMB</span></h1>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis officia ducimus facere eaque quibusdam labore tempora, explicabo error modi quos architecto aspernatur necessitatibus unde ad, tenetur eveniet aperiam autem eum.</p>
  	</div>
</div>

<div id="tabs">
	<div>
		<h2>MOUNTAIN 1</h2>
		<h2>MOUNTAIN 2</h2>
	</div>
</div>


<div id="hero-image2">
  <div id="hero-text2">
  	<h2>SCHEDULE</h2>
		<table>
			<tr>
				<td>25 Nov 2016 &nbsp&nbsp</td>
				<td>	</td>
				<td>Vestibulum viverra</td>
			</tr>
			<tr>
				<td>28 Nov 2016 &nbsp&nbsp</td>
				<td>	</td>
				<td>Vestibulum viverra</td>
			</tr>			
			<tr></tr>	
			<tr>
				<td>18 Dec 2016 &nbsp&nbsp</td>
				<td>	</td>
				<td>Vestibulum viverra</td>
			</tr>
			<tr></tr>
			<tr>
				<td>7 Jan 2017 &nbsp&nbsp</td>
				<td>	</td>
				<td>Vestibulum viverra</td>
			</tr>
		</table>
  </div>
</div>


<footer>
	<div class='data'>		
		<div class="logo">
			<img src="i/conv2/logoSticky2.svg" alt="">
			<h2>LOSANGELES <br> <span>MOUNTAINS</span></h2>	
		</div>

		<div id="copyright">
			<h4>COPYRIGHT 2016. ALL RIGHTS RESERVED</h4>
		</div>
	</div>
</footer>



</body>
<script src='/j/conv2.js'></script>
</html>