@{title('Display')}

<div id='display'>
	<h2>Compare the image at the top, with the html page displayed in an iframe at the bottom.</h2>

	<hr>

	<h3>To see the codebase for this work, please click <a href="">here</a>.</h3>
	<h3>To view this converted page in a separate window, please click <a href="/conv1">here</a>.</h3>
	<h4>Use space on right side for convenient scrolling.</h4>
	<!-- <h3>Please note, only the second menu item has submenues.</h3> -->
	<div id="area">
		<div><img src="/i/@{model.path}/@{model.path}_display.png" alt=""></div>

		<hr align='left' >
		
		<iframe src='/h/@{model.path}.html' width='90%' height='740'></iframe>
	</div>
</div>