@{title('Hamlet\'s Webpage')}
	<header id='miniNav'>
		
		<nav>
			<ul>
				<li>On this page: </li>
				<li><a href="#docs">Documents</a></li>
				<li><a href="#conversions">Conversions</a></li>
				<li><a href="#projects">Projects</a></li>
			</ul>
		</nav>
	</header>

<hr />
<br />


<p class="center">
	Welcome to my website, where you can learn everything about me! (almost).<br />
	<b>Click images to find out more.</b>
</p>

<br />
<br />

<div id='intro'>
	<img id='profPic' src="i/profPic.jpg">

	<div id="contact">
		<ul>
			<li>Phone: (818) 268-0008</li>
			<li>Email: hamlettamaz@gmail.com</li>
			<li>Facebook: <a href="https://www.facebook.com/hamlet.tamaz">https://www.facebook.com/hamlet.tamaz</a></li>
			<li>Linked In: <a href="https://www.linkedin.com/in/hamlettamazian/">https://www.linkedin.com/in/hamlettamazian/</a></li>
			<li>GitHub: <a href="https://github.com/hamlet-tamaz">https://github.com/hamlet-tamaz</a></li>
		</ul>
	</div>
</div>

<hr>

<div id='docs'>
	<h2>Resume & Cover Letter</h2>
	
	<img id='resume' src="i/resume.png">
	<img id='cover' src="i/cover.png">
</div>

<hr>

<div id='conversions'>
	<h2>Conversions</h2>

	<a href="/display/conv1">
		<img id='conv1' src="i/conv1/conv1.png">
	</a>
	<a href="/display/conv2">
		<img id='conv2' src="i/conv2/conv2.png">
	</a>
</div>

<hr>

<div id='projects'>
	<h2>Projects</h2>


	<h3>Sudoku</h3>

	<div id="proj1" class='tile'>
		<img src="i/proj1-1.png">
		<img src="i/proj1-2.png">
	</div>	

	<p>To visit live Sudoku site, please click <a href="http://hamlet-sudoku.bitballoon.com/">here</a>.</p>

	<hr>
	
	<h3>Lonely Table</h3>

	<div id="proj2" class='tile'>
		<img src="i/proj2-home.png">
		<img src="i/proj2-menu.png">
	</div>	
	
	<hr>

	<h3>Flink</h3>

	<div id="proj3" class='tile'>
		<img src="i/proj3-dash.png">
		<img src="i/proj3-msg.png">
	</div>	

	<hr>

</div>

<!-- 
<br />
<br /> -->


<div class="center"><a href="/downloads" class="linkbutton">Download Documents</a></div>