@{title('Hamlet\'s Webpage')}

<br />
<div id="home">

	<h2 class='center'>Welcome to my online Portfolio!</h2>
	<ul>
		<li>Here you can find me contacts, my resume and cover letter, a summary about myself, and of course, some of my previous work, including this website.</li>
		<li>The work has been assembled from various projects into one website.</li>
		<li>Included are psd > html conversions, a two resource gallery, and several other projects that use various languages.</li>
	</ul>
	<br />
	<br />
	<div class="center"><a href="/portfolio" class="linkbutton">Click to begin exploring.</a></div>
</div>